body {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos generales */
.carrusel {
    position: relative;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.imagenes {
    display: flex;
    transition: transform 0.5s;
}

.imagen {
    min-width: 100%;
    border-radius: 10px;
}

.boton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: brown;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.boton-prev {
    left: 10px;
}

.boton-next {
    right: 10px;
}

.informacion {
    background-color: #730a05;
    width: 80%;
    padding: 20px;
    color: white;
    border-radius: 10px;
    margin: 0 auto 5% auto;
}

.informacion h2 {
    color: #f89c1c;
}

iframe {
    margin-bottom: 5%;
}

.reseñas {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #730a05;
    border-radius: 10px;
    color: white;
    margin-bottom: 10%;
}

.reseña {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.reseña:last-child {
    border-bottom: none;
}

.reseñas h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #f89c1c;
}

.estrellas {
    color: gold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Media Queries para dispositivos móviles (480px y menores) */
@media (max-width: 480px) {

    .informacion,
    .reseñas {
        width: 95%;
    }

    .boton {
        padding: 6px;
        font-size: 0.8rem;
    }

    .informacion h2,
    .reseñas h2 {
        font-size: 1.2em;
    }

    .estrellas {
        font-size: 0.9em;
    }
}

/* Media Queries para tablets y pantallas medianas (768px y menores) */
@media (max-width: 768px) {

    .informacion,
    .reseñas {
        width: 90%;
    }

    .boton {
        padding: 8px;
    }

    .informacion h2,
    .reseñas h2 {
        font-size: 1.5em;
    }

    .estrellas {
        font-size: 1em;
    }
}

/* Media Queries para pantallas grandes (1368px y mayores) */
@media (min-width: 1368px) {

    .informacion,
    .reseñas {
        width: 70%;
    }

    .boton {
        padding: 12px;
        font-size: 1.2rem;
    }

    .informacion h2,
    .reseñas h2 {
        font-size: 2em;
    }

    .estrellas {
        font-size: 1.5em;
    }
}