body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #ea4024;
}

.contenedor {
    width: 300px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 10%;
    max-width: 90%;
    /* Asegura que el contenedor no exceda el 90% del ancho de la pantalla */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

form input,
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    /* Aumenta el tamaño de la fuente para mayor comodidad */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #730a05;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    /* Asegura un tamaño de texto legible */
}

button:hover {
    background-color: #a50f0f;
}

.enlace {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: #007BFF;
}

.enlace:hover {
    text-decoration: underline;
}

.oculto {
    display: none;
}

/* Media Queries para dispositivos móviles (768px y menores) */
@media (max-width: 768px) {
    .contenedor {
        width: 80%;
        /* Aumentar el ancho del contenedor en pantallas pequeñas */
        padding: 20px;
        /* Ajustar el padding */
    }

    h2 {
        font-size: 20px;
        /* Ajustar tamaño del texto */
    }

    form input,
    form select {
        padding: 10px;
        /* Hacer los inputs más cómodos */
        font-size: 16px;
        /* Aumentar tamaño de fuente */
    }

    button {
        padding: 12px;
        /* Aumentar tamaño del botón */
    }

    .enlace {
        font-size: 16px;
        /* Ajustar tamaño del texto en enlace */
    }
}

/* Media Queries para pantallas muy pequeñas (480px y menores) */
@media (max-width: 480px) {
    .contenedor {
        width: 90%;
        /* Aumentar más el ancho en pantallas móviles */
        padding: 15px;
    }

    h2 {
        font-size: 18px;
    }

    form input,
    form select {
        padding: 8px;
        font-size: 14px;
        /* Ajustar tamaño de la fuente */
    }

    button {
        padding: 10px;
        font-size: 16px;
    }

    .enlace {
        font-size: 14px;
    }
}