body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #ea4024;
}

.contenedor {
    width: 300px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 10%;
    max-width: 90%; /* Asegura que el contenedor no exceda el 90% del ancho de la pantalla */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

form input,
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px; /* Aumenta el tamaño de la fuente para mayor comodidad */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #730a05;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Asegura un tamaño de texto legible */
}

button:hover {
    background-color: #a50f0f;
}

.enlace {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: #007BFF;
}

.enlace:hover {
    text-decoration: underline;
}

.oculto {
    display: none;
}