body {
    margin: 0;
    padding: 0;
}

.contenedor {
    background-color: #e2e2e2;
    font-size: 20px;
}

.contenedor img {
    width: 9%;
    height: auto;
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: background-color 0.3s ease;
    /* Transición suave para el hover */
}

nav ul li a:hover {
    background-color: #d2ceff;
    border-radius: 3px;
}

.ubicacion h2 {
    margin-right: 30px;
    font-size: 1.5rem;
}

.ubicacion h2 i {
    color: red;
    margin-right: 8px;
}

.bienvenida {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
}

.bienvenida img {
    width: 100%;
    height: auto;
    filter: brightness(50%);
    position: relative;
    z-index: 1;
}

.bienvenida h2,
.bienvenida button {
    position: absolute;
    z-index: 2;
    color: white;
}

.bienvenida h2 {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    text-align: center;
}

.bienvenida button {
    cursor: pointer;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 20px;
    background-color: #730a05;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    /* Transición suave para el hover */
}

.bienvenida button:hover {
    background-color: #a50f0f;
    /* Cambiar color al pasar el mouse */
}

/* Media Queries */
@media (max-width: 768px) {
    .bienvenida h2 {
        font-size: 35px;
    }

    .bienvenida button {
        font-size: 18px;
        padding: 8px;
    }

    nav ul li {
        margin-right: 5px;
        /* Reducir margen en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .bienvenida h2 {
        font-size: 28px;
    }

    .bienvenida button {
        font-size: 16px;
        padding: 6px;
    }

    nav ul li a {
        padding: 8px;
        /* Ajustar padding en enlaces */
    }
}